<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VALAG | Inicio</title>
    <link rel="stylesheet" href="/css/style.css">


    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>

    <header>
        <nav class="header-navbar">
            <div class="header-navbar__logo">VALAG</div>
            <ul class="header-navbar__links">
                <li class="header-navbar__links__link active tooltip"><a href="/"><ion-icon name="home"></ion-icon></a><span class="tooltiptext">Inicio</span></li>
                <li class="header-navbar__links__link tooltip"><a href="#"><ion-icon name="business-outline"></ion-icon></a><span class="tooltiptext">Nosotros</span></li>
                <li class="header-navbar__links__link tooltip"><a href="#"><ion-icon name="call-outline"></ion-icon></a><span class="tooltiptext">Contáctanos</span></li>
            </ul>
        </nav>

        <div class="carousel">
            <div class="carousel__container">
                <div class="carousel__slide">
                    <div class="carousel__slide__sheet">
                        <img class="carousel__slide__image carousel__slide__image--0" src="/img/wires.jpg" alt="Fibra optica" id="last-clone">
                        <div class="carousel__slide__content">
                            <h2 class="carousel-header">Fibra óptica</h2>
                            <h4 class="carousel-text">Las instalaciones de fibra óptica es uno de nuestros servicios más demandados, somos reconocidos por utilizar material de la mejor calidad, ofrecer de las más altas velocidades del mercado, y garantizar la instalación hasta por un año.</h4>
                            <div class="actions">
                                <button class="btn-carousel">Contáctanos</button>
                            </div>
                        </div>
                    </div>
                    <div class="carousel__slide__sheet">
                        <img class="carousel__slide__image carousel__slide__image--1" src="/img/man-with-mac.jpg" alt="Man in front of a laptop">
                        <div class="carousel__slide__content">
                            <h2 class="carousel-header">¿Qué es VALAG?</h2>
                            <h4 class="carousel-text">Ofrecemos las mejores soluciones coporativas en TIC de todo Colombia. Nuestra especialidad son las instalaciones de fibra óptica.</h4>
                            <div class="actions">
                                <button class="btn-carousel" id="btn-banner-slide-1">Cónocenos</button>
                            </div>
                        </div>
                    </div>
                    <div class="carousel__slide__sheet">
                        <img class="carousel__slide__image carousel__slide__image--2" src="/img/white-architecture.jpg" alt="hardware">
                        <div class="carousel__slide__content">
                            <h2 class="carousel-header">Nuestros Servicios</h2>
                            <h4 class="carousel-text">Contamos con personal calificado para ofrecer y garantizar nuestros servicios que van desde instalaciones de fibra óptica hasta el desarrollo de soluciones tecnológicas ajustadas a sus necesidades.</h4>
                            <div class="actions">
                                <button class="btn-carousel" id="btn-banner-slide-2">Conoce nuestros servicios</button>
                            </div>
                        </div>
                    </div>
                    <div class="carousel__slide__sheet">
                        <img class="carousel__slide__image carousel__slide__image--3" src="/img/wires.jpg" alt="Fibra optica" id="first-clone">
                        <div class="carousel__slide__content">
                            <h2 class="carousel-header">Fibra óptica</h2>
                            <h4 class="carousel-text">Las instalaciones de fibra óptica es uno de nuestros servicios más demandados, somos reconocidos por utilizar material de la mejor calidad, ofrecer de las más altas velocidades del mercado, y garantizar la instalación hasta por un año.</h4>
                            <div class="actions">
                                <button class="btn-carousel">Contáctanos</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <button class="carousel__controls carousel__controls--left btn-icon" id="prevBtn"><ion-icon name="chevron-back-outline"></ion-icon></button>
            <button class="carousel__controls carousel__controls--right btn-icon" id="nextBtn"><ion-icon name="chevron-forward-outline"></ion-icon></button>

            <div class="carousel__tabs">
                <div class="btn-icon btn-icon--tabs" id="carousel-tab-1"></ion-icon></div>
                <div class="btn-icon btn-icon--tabs" id="carousel-tab-2"></ion-icon></div>
                <div class="btn-icon btn-icon--tabs" id="carousel-tab-3"></ion-icon></div>
            </div>
        </div>
    </header>

    {{!-- Seccion de servicios --}}
    {{>servicios}}

    {{!-- Seccion de beneficios --}}
    {{>beneficios}}

    {{!-- Seccion links obligatorios --}}
    <div class="links-obligatorios">
        <div class="links-obligatorios__links">
            <a href="https://www.enticconfio.gov.co/" target="_blank" class="links-obligatorios__link">
                <img src="/img/enticconfio.png" alt="Logo de en TIC confío" class="links-obligatorios__imagen">
            </a>
            <a href="https://teprotejo.org/" target="_blank" class="links-obligatorios__link">
                <img src="/img/teprotejo.png" alt="Logo de Te Protejo ORG" class="links-obligatorios__imagen">
            </a>
            <a href="https://caivirtual.policia.gov.co/" class="links-obligatorios__link" target="_blank">
                <img src="/img/centroCiberneticoPolicial.png" alt="Logo del centro cibernético nacional" class="links-obligatorios__imagen">
            </a>
        </div>
    </div>

    {{!-- Footer --}}
    {{>footer}}


    <script src="/js/carousel.js"></script>
    <script src="/js/navbar.js"></script>
    <script src="/js/scroll-effects.js"></script>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>