<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>VALAG | Login</title>
</head>
<body>
    <div class="login">
        <h2 class="login__header">
            VALAG
        </h2>
        <h3 class="login__subheader">
            Chat de Soporte
        </h3>
        <form action="" class="login__form" id="login-form">
            <div class="login__input-box">
                <label for="correo-login-input" class="login__label">Correo</label>
                <input type="email" class="login__input" name="correoLogin" id="correo-login-input">
            </div>

            <div class="login__input-box">
                <label for="password-login-input" class="login__label">Contraseña</label>
                <input type="password" class="login__input" name="passwordLogin" id="password-login-input">
            </div>

            <button class="login__submit-btn">Ingresar</button>

            <p class="login__error-alert" id="login-error-alert"></p>
        </form>
    </div>

    <script>
        // elements
        const $loginForm = document.getElementById('login-form');
        const $loginErrorAlert = document.getElementById('login-error-alert')

        // api request
        async function login(url = '', data = {}) {
            const response = await fetch(url, {
                method: 'POST',
                 headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })

            return response.json()
        }

        // submit event
        $loginForm.addEventListener('submit', (e) => {
            e.preventDefault()

            login('/users/login', { correo: $loginForm.elements.correoLogin.value, password: $loginForm.elements.passwordLogin.value })
                .then(data => {
                    $loginForm.elements.correoLogin.value = ''
                    $loginForm.elements.passwordLogin.value = ''
                    if (data.token) {
                        const token = data.token
                        const date = new Date()
                        date.setTime(date.getTime() + (3*24*60*60*1000))
                        document.cookie = `token=${token}; expires=${date.getUTCDate()}; path=/`

                        // Redirigir a chat despues de login exitioso
                        location.href = "/supportchat" 
                    } else {
                        $loginErrorAlert.innerHTML = data.error
                    }
                })
        })

        

    </script>
</body>
</html>