<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VALAG | Contactenos</title>
    <link rel="stylesheet" href="/css/style.css">


    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>

    <header>
        <nav class="header-navbar">
            <a href="/" class="header-navbar__logo-link">
                <img src="/img/valagLogo.png" alt="Logo de Valag" class="header-navbar__logo">
            </a>
            {{!-- <div class="header-navbar__brand">VALAG</div> --}}
            <ul class="header-navbar__links" id="navbar-content">
                <li class="header-navbar__links__link tooltip"><a href="/"><ion-icon name="home-outline"></ion-icon></a><span class="tooltiptext">Inicio</span></li>
                <li class="header-navbar__links__link active tooltip"><a href="/nosotros"><ion-icon name="business"></ion-icon></a><span class="tooltiptext">Nosotros</span></li>
                <li class="header-navbar__links__link tooltip"><a href="/contactenos"><ion-icon name="call-outline"></ion-icon></a><span class="tooltiptext">Contáctanos</span></li>
            </ul>
            <div class="header-navbar__toggle" id="navbar-toggle">
                <ion-icon name="menu-outline"></ion-icon>
            </div>
        </nav>
    </header>

    <main class="section">
        <h2 class="section__header primary-header">
            Nosotros
        </h2>
        <div class="us">
            <div class="us__block">
                <div class="us__content">
                    <h3 class="us__title">
                        Nuestra amplia experiencia en diferentes proyectos, con estándares internacionales de calidad, avala nuestra capacidad de gestión.
                    </h3>
                    <p class="us__text">
                        Una capacitación continua, responsabilidad medioambiental y motivación por una labor bien hecha, son herramientas para responder a las necesidades de un mercado exigente y en evolución. Nuestra meta es la satisfacción de principio a fin.
                    </p>
                </div>
                <div class="us__img-box">
                    <img src="/img/office.jpg" alt="" class="us__img">
                </div>
            </div>

            <div class="us__block">
                <div class="us__content">
                    <h3 class="us__title">
                        VALAG SAS implementa soluciones tecnológicas 100% funcionales.
                    </h3>
                    <p class="us__text">
                        Soluciones altamente disponibles, para lo cual contamos con ingenieros certificados por los principales fabricantes de redes y telefonía del mercado; lo que nos permite entregar el mejor servicio, cumplimos CCNP (Cisco Certicate Network Professional) y DCAP (Digium Certificate Asterisk Professional). El manejo de nuestros proyectos se adhiere a las mejores prácticas de la recomendación internacional del Project Management Institute lo que nos permite garantizar cumplimiento y calidad en cada uno de ellos.
                    </p>
                    <p class="us__text">
                        Contamos con esquemas y protocolos de pruebas para el aseguramiento de la calidad de cada solución implementada, desarrollamos nuestras propias soluciones los que nos permite entregarle la mejor relación costo beneficio para permitir que la tecnología esté al alcance de su mano.
                    </p>
                </div>
                <div class="us__img-box">
                    <img src="/img/technology.jpg" alt="" class="us__img">
                </div>
            </div>
        </div>

        <div class="section nosotros-beneficios">
            <h2 class="section__header primary-header">
                Nuestros clientes
            </h2>
        </div>

        <div class="section conectividad-section">
            <h2 class="section__header primary-header">
                Conectividad
            </h2>
            <div class="conectividad-section__intro">
                La gestión de infraestructuras y las soluciones de TI de VALAG, se adaptan a sus necesidades, elevando su tecnología al nivel que desea para que pueda crear eficiencias operativas que liberen los recursos de TI.
            </div>
            <div class="conectividad-section__figure">
                <div class="conectividad-section__figure-element conectividad-section__figure-element--1">
                    ISP <br> -CAPACIDAD-
                </div>
                <div class="conectividad-section__figure-arrow">
                    <ion-icon name="arrow-forward-circle"></ion-icon>
                </div>
                <div class="conectividad-section__figure-arrow-down">
                    <ion-icon name="arrow-down-circle"></ion-icon>
                </div>
                <div class="conectividad-section__figure-element conectividad-section__figure-element--2">
                    Red Propia<br> (GEPON)<br> Masivo, PYME,<br> Corporativo
                </div>
                <div class="conectividad-section__figure-arrow">
                    <ion-icon name="arrow-forward-circle"></ion-icon>
                </div>
                <div class="conectividad-section__figure-arrow-down">
                    <ion-icon name="arrow-down-circle"></ion-icon>
                </div>
                <div class="conectividad-section__figure-element conectividad-section__figure-element--3">
                    Cable<br> Operadores
                </div>
                <div class="conectividad-section__figure-arrow">
                    <ion-icon name="arrow-forward-circle"></ion-icon>
                </div>
                <div class="conectividad-section__figure-arrow-down">
                    <ion-icon name="arrow-down-circle"></ion-icon>
                </div>
                <div class="conectividad-section__figure-element conectividad-section__figure-element--4">
                    Pymes y<br> Corporativos<br> Red PNFO
                </div>
                <div class="conectividad-section__figure-arrow">
                    <ion-icon name="arrow-forward-circle"></ion-icon>
                </div>
                <div class="conectividad-section__figure-arrow-down">
                    <ion-icon name="arrow-down-circle"></ion-icon>
                </div>
                <div class="conectividad-section__figure-element conectividad-section__figure-element--5">
                    Gobierno<br> -Proyectos- <br>-Clientes Directos-
                </div>
            </div>
        </div>
        <div class="section nosotros-beneficios">
            <h2 class="section__header primary-header">
                Beneficios
            </h2>
            <h3 class="nosotros-beneficios__subtitle secondary-header">
                Automatización impulsando <br> procesos de TI más eficientes
            </h3>
            <div class="nosotros-beneficios__beneficios">
                <div class="nosotros-beneficios__item">
                    <div class="nosotros-beneficios__icon">
                        <ion-icon name="wifi"></ion-icon>
                    </div>
                    <p class="nosotros-beneficios__text">
                        Múltiple Tecnología con 100% de cobertura Nacional y conexión a Redes Trasnacionales
                    </p>
                </div>
                <div class="nosotros-beneficios__item">
                    <div class="nosotros-beneficios__icon">
                        <ion-icon name="cog"></ion-icon>
                    </div>
                    <p class="nosotros-beneficios__text">
                        Soporte Técnico Local
                    </p>
                </div>
                <div class="nosotros-beneficios__item">
                    <div class="nosotros-beneficios__icon">
                        <ion-icon name="git-network"></ion-icon>
                    </div>
                    <p class="nosotros-beneficios__text">
                        Diseño de Red y Conectividad Redundante de Alta Disponibilidad
                    </p>
                </div>
                <div class="nosotros-beneficios__item">
                    <div class="nosotros-beneficios__icon">
                        <ion-icon name="ellipsis-vertical-circle"></ion-icon>
                    </div>
                    <p class="nosotros-beneficios__text">
                        Contamos con direccionamiento IPv4 y IPv6 público directo de LACNIC
                    </p>
                </div>
                <div class="nosotros-beneficios__item">
                    <div class="nosotros-beneficios__icon">
                        <ion-icon name="people"></ion-icon>
                    </div>
                    <p class="nosotros-beneficios__text">
                        Hacemos parte de Alianzas Nacionales e Internacionales que nos permiten cubrir sus necesidades en infraestructura Telco y Soluciones de Conectividad
                    </p>
                </div>
                <div class="nosotros-beneficios__item">
                    <div class="nosotros-beneficios__icon">
                        <ion-icon name="globe"></ion-icon>
                    </div>
                    <p class="nosotros-beneficios__text">
                        Diseñamos y construimos redes WAN y de último kilómetro para garantizar la cobertura que nuestros clientes necesitan aún en zonas aísladas
                    </p>
                </div>
            </div>
        </div>
    </main>

    

    {{!-- Footer --}}
    {{>footer}}


    <script src="/js/navbar.js"></script>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>
</html>