<section id="beneficios" class="section">
    <h2 class="section__header primary-header">
        Nuestras Ventajas
    </h2>
    <div class="section__body">
        <div class="beneficios-panel">
            <div class="beneficios-panel__item">
                <div class="beneficios-panel__item__image">
                    <div class="icon">
                        <ion-icon name="settings"></ion-icon>
                    </div>
                </div>
                <div class="beneficios-panel__item__header">
                    Soporte Técnico Local
                </div>
                <div class="beneficios-panel__item__text">
                    Contamos con personal calificado y disponibles para responder cuando lo necesite.
                </div>
            </div>
            <div class="beneficios-panel__item">
                <div class="beneficios-panel__item__image">
                    <div class="icon">
                        <ion-icon name="people"></ion-icon>
                    </div>
                </div>
                <div class="beneficios-panel__item__header">
                    Confiabilidad
                </div>
                <div class="beneficios-panel__item__text">
                    Hacemos parte de
                    Alianzas Nacionales e
                    Internacionales
                    que nos permiten cubrir
                    sus necesidades en
                    infraestructura Telco y
                    Soluciones de Conectividad.
                </div>
            </div>
            <div class="beneficios-panel__item">
                <div class="beneficios-panel__item__image">
                    <div class="icon">
                        <ion-icon name="wifi"></ion-icon>
                    </div>
                </div>
                <div class="beneficios-panel__item__header">
                    Garantía
                </div>
                <div class="beneficios-panel__item__text">
                    Diseñamos y
                    construimos redes WAN
                    y de último kilómetro
                    para garantizar la
                    cobertura que nuestros
                    clientes necesitan aún
                    en zonas aísladas.
                </div>
            </div>
        </div>
        <div class="main-benefit">
            <div class="main-benefit__image">
                <img src="../img/network.png" alt="Network">
            </div>
            <div class="main-benefit__content">
                <h3 class="main-benefit__content__subtitle">
                    La red de transporte más confiable del mercado
                </h3>
                <h2 class="main-benefit__content__title">
                    Nuestro ecosistema IP en Colombia
                </h2>
                <div class="main-benefit__content__text">
                    <ul>
                        <li>Conexión directa al NAP Colombia, que
                        permite intercambio de tráfico local de forma
                        más eficiente.</li>
                        <li>Conexión directa a 9 nodos de contenido en
                        Colombia para mejorar la experiencia del
                        usuario.</li>
                        <li>Capacidad submarina propia sobre dos
                        sistemas para aumentar la disponibilidad.</li>
                        <li>Conexión directa en Estados Unidos a
                        diversos Tier 1 para complementar el tráfico.</li>
                        <li>Peering directo en Estados Unidos con los
                        principales generadores de contenido.</li>
                        <li>Conexión a más de 500 peeting y nodos de
                        contenido en Perú, Chile, Argentina y Brasil.</li>
                    </ul>
                </div>
                <div class="main-benefit__content__actions">
                    <a href="/nosotros" class="btn-card"><span>Conoce más</span><ion-icon name="chevron-forward-circle-outline"></ion-icon></a>
                </div>
            </div>
        </div>
    </div>
</section>