<footer class="footer">
    <div class="footer__main-content">  
        <div class="footer__main-content__descripcion">
            <div class="footer__header">
                @VALAG
            </div>
            <div class="footer__text">
                @VALAG Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae tempore eius doloribus ea, corrupti voluptatum saepe praesentium aliquid accusantium molestiae adipisci, facilis soluta ratione consequuntur suscipit aperiam libero, in veritatis!
            </div>
        </div>
        <div class="footer__main-content__contactanos">
            <div class="footer__header">
                Contáctanos
            </div>
            <div class="footer__text">
                <p>Teléfono: +57 (312)6783-5241</p>
                <p>Email: comercial@valag.co</p>
                <a href="/contactenos">Contáctanos</a>
            </div>
        </div>
        <div class="footer__main-content__links">
            <div class="footer__header">
                Siguenos
            </div>
            <div class="footer__text">
                <a class="footer__main-content__links__link" href="#"><ion-icon name="logo-facebook"></ion-icon></a>
                <a class="footer__main-content__links__link" href="#"><ion-icon name="logo-instagram"></ion-icon></a>
                <a class="footer__main-content__links__link" href="#"><ion-icon name="logo-whatsapp"></ion-icon></a>
            </div>
        </div>
    </div>
    <div class="footer__copyright footer__text">
        2021 &copy;VALAG by <a href="#">Manuel Mosquera</a>
    </div>
</footer>