<main id="servicios" class="section">
    <h2 class="section__header primary-header">
        Nuestros Servicios
    </h2>
    <div class="section__body">
        <div class="servicios-panel">
        <div class="card">
            <div class="card__side card__side--front">
                <img src="../img/router-wifi.jpg" alt="Wifi router" class="card__image">
                <h3 class="card__header">
                    Proveedor de servicios de internet (ISP)
                </h3>
                <p class="card__text">
                    Contamos con un amplio portafolio de soluciones en conectividad somos un proveedor de servicios de Internet (ISP), telefonía IP, video, servicios en la nube, datacenter y seguridad que lo apoyaran en la optimización de sus recursos de tecnología.
                </p>
            </div>
            <div class="card__side card__side--back card__side--back-1">
                <h4 class="card__header">
                    ¿Quieres conocer más sobre este servicio?
                </h4>
                <p class="card__text">
                    Contacta a uno de nuestros asesores!
                </p>
                <div class="card__actions">
                    <a class="btn-card" href="/contactenos"><span>Ir a contáctanos</span><ion-icon name="chevron-forward-circle-outline"></ion-icon></a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card__side card__side--front">
                <img src="../img/cyber-security.jpg" alt="Seguridad informatica" class="card__image">
                <h3 class="card__header">
                    Desarrollo de redes eléctricas y energías alternativas
                </h3>
                <p class="card__text">
                    Diseñamos, implementamos redes eléctricas, iluminación, acometidas eléctricas.
                </p>
            </div>
            <div class="card__side card__side--back card__side--back-1">
                <h4 class="card__header">
                    ¿Quieres conocer más sobre este servicio?
                </h4>
                <p class="card__text">
                    Contacta a uno de nuestros asesores!
                </p>
                <div class="card__actions">
                    <a class="btn-card" href="/contactenos"><span>Ir a contáctanos</span><ion-icon name="chevron-forward-circle-outline"></ion-icon></a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card__side card__side--front">
                <img src="../img/callcenter-solutions.jpg" alt="Wifi router" class="card__image">
                <h3 class="card__header">
                    Redes corporativas
                </h3>
                <p class="card__text">
                    Ofrecemos redes clableadas, haciendo uso de la última tecnología y siguiendo todos los protocolos y estándares internacionales para el diseño e implementación de las mismas, así como redes inalámbricas, y servicios plataformas de red.
                </p>
            </div>
            <div class="card__side card__side--back card__side--back-1">
                <h4 class="card__header">
                    ¿Quieres conocer más sobre este servicio?
                </h4>
                <p class="card__text">
                    Contacta a uno de nuestros asesores!
                </p>
                <div class="card__actions">
                    <a class="btn-card" href="/contactenos"><span>Ir a contáctanos</span><ion-icon name="chevron-forward-circle-outline"></ion-icon></a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card__side card__side--front">
                <img src="../img/desarrollo-de-software.jpg" alt="Wifi router" class="card__image">
                <h3 class="card__header">
                    Servicios plataformas de red
                </h3>
                <p class="card__text">
                    Implementamos diferentes tipos de servicio sobre redes corporativas utilizando plataformas estándares como Linux y/o Windows.
                </p>
            </div>
            <div class="card__side card__side--back card__side--back-1">
                <h4 class="card__header">
                    ¿Quieres conocer más sobre este servicio?
                </h4>
                <p class="card__text">
                    Contacta a uno de nuestros asesores!
                </p>
                <div class="card__actions">
                    <a class="btn-card" href="/contactenos"><span>Ir a contáctanos</span><ion-icon name="chevron-forward-circle-outline"></ion-icon></a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card__side card__side--front">
                <img src="../img/desarrollo-de-software.jpg" alt="Wifi router" class="card__image">
                <h3 class="card__header">
                    Comuninaciones unificadas
                </h3>
                <p class="card__text">
                    Experiencia en el diseño e implementación de sistemas de comunicaciones unificadas basadas en tecnología sobre IP nos permiten ofrecer a nuestros clientes una amplia gama de productos que se pueden adecuar a sus necesidades.
                </p>
            </div>
            <div class="card__side card__side--back card__side--back-1">
                <h4 class="card__header">
                    ¿Quieres conocer más sobre este servicio?
                </h4>
                <p class="card__text">
                    Contacta a uno de nuestros asesores!
                </p>
                <div class="card__actions">
                    <a class="btn-card" href="/contactenos"><span>Ir a contáctanos</span><ion-icon name="chevron-forward-circle-outline"></ion-icon></a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card__side card__side--front">
                <img src="../img/desarrollo-de-software.jpg" alt="Wifi router" class="card__image">
                <h3 class="card__header">
                    Desarrollo de software
                </h3>
                <p class="card__text">
                    Contamos con un grupo de desarrolladores para el diseño e implementación de software relacionado con sistemas telefónicos, desarrollos a la medida en diferentes lenguajes como Java, PHP, C++, Python y otros.
                </p>
            </div>
            <div class="card__side card__side--back card__side--back-1">
                <h4 class="card__header">
                    ¿Quieres conocer más sobre este servicio?
                </h4>
                <p class="card__text">
                    Contacta a uno de nuestros asesores!
                </p>
                <div class="card__actions">
                    <a class="btn-card" href="/contactenos"><span>Ir a contáctanos</span><ion-icon name="chevron-forward-circle-outline"></ion-icon></a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card__side card__side--front">
                <img src="../img/desarrollo-de-software.jpg" alt="Wifi router" class="card__image">
                <h3 class="card__header">
                    Consultoría y asesoría
                </h3>
                <p class="card__text">
                    Experiencia y alto nivel de conocimiento garantizan a nuestros clientes soluciones ajustadas a sus necesidades. Contamos con un amplio portafolio de asesorías a nivel tecnológico, finanzas, mercadeo, planeación y regulación a empresas del sector de las comunicaciones y para el sector corporativo como asesores e integradores en tecnologías de la información y las telecomunicaciones.
                </p>
            </div>
            <div class="card__side card__side--back card__side--back-1">
                <h4 class="card__header">
                    ¿Quieres conocer más sobre este servicio?
                </h4>
                <p class="card__text">
                    Contacta a uno de nuestros asesores!
                </p>
                <div class="card__actions">
                    <a class="btn-card" href="/contactenos"><span>Ir a contáctanos</span><ion-icon name="chevron-forward-circle-outline"></ion-icon></a>
                </div>
            </div>
        </div>
        </div>
    </div>
</main>