<main id="servicios" class="section">
    <h2 class="section__header primary-header">
        Nuestros Servicios
    </h2>
    <div class="section__body">
        <div class="servicios-panel">
        <div class="card">
            <div class="card__side card__side--front">
                <img src="../img/router-wifi.jpg" alt="Wifi router" class="card__image">
                <h3 class="card__header">
                    Soluciones para acceso FTTX
                </h3>
                <p class="card__text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam mollitia, quos excepturi voluptatum fuga quisquam distinctio, ullam ad, iure est fugiat necessitatibus magnam? Natus dolor ad in. Eius, animi vero!
                </p>
            </div>
            <div class="card__side card__side--back card__side--back-1">
                <h4 class="card__header">
                    ¿Quieres conocer más sobre este servicio?
                </h4>
                <p class="card__text">
                    Contacta a uno de nuestros asesores!
                </p>
                <div class="card__actions">
                    <a class="btn-card" href="/contactenos"><span>Ir a contáctanos</span><ion-icon name="chevron-forward-circle-outline"></ion-icon></a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card__side card__side--front">
                <img src="../img/cyber-security.jpg" alt="Seguridad informatica" class="card__image">
                <h3 class="card__header">
                    Consultoría en seguridad de la información
                </h3>
                <p class="card__text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam mollitia, quos excepturi voluptatum fuga quisquam distinctio, ullam ad, iure est fugiat necessitatibus magnam? Natus dolor ad in. Eius, animi vero!
                </p>
            </div>
            <div class="card__side card__side--back card__side--back-1">
                <h4 class="card__header">
                    ¿Quieres conocer más sobre este servicio?
                </h4>
                <p class="card__text">
                    Contacta a uno de nuestros asesores!
                </p>
                <div class="card__actions">
                    <a class="btn-card" href="/contactenos"><span>Ir a contáctanos</span><ion-icon name="chevron-forward-circle-outline"></ion-icon></a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card__side card__side--front">
                <img src="../img/callcenter-solutions.jpg" alt="Wifi router" class="card__image">
                <h3 class="card__header">
                    Software para callcenter
                </h3>
                <p class="card__text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam mollitia, quos excepturi voluptatum fuga quisquam distinctio, ullam ad, iure est fugiat necessitatibus magnam? Natus dolor ad in. Eius, animi vero!
                </p>
            </div>
            <div class="card__side card__side--back card__side--back-1">
                <h4 class="card__header">
                    ¿Quieres conocer más sobre este servicio?
                </h4>
                <p class="card__text">
                    Contacta a uno de nuestros asesores!
                </p>
                <div class="card__actions">
                    <a class="btn-card" href="/contactenos"><span>Ir a contáctanos</span><ion-icon name="chevron-forward-circle-outline"></ion-icon></a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card__side card__side--front">
                <img src="../img/desarrollo-de-software.jpg" alt="Wifi router" class="card__image">
                <h3 class="card__header">
                    Desarrollo de software
                </h3>
                <p class="card__text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam mollitia, quos excepturi voluptatum fuga quisquam distinctio, ullam ad, iure est fugiat necessitatibus magnam? Natus dolor ad in. Eius, animi vero!
                </p>
            </div>
            <div class="card__side card__side--back card__side--back-1">
                <h4 class="card__header">
                    ¿Quieres conocer más sobre este servicio?
                </h4>
                <p class="card__text">
                    Contacta a uno de nuestros asesores!
                </p>
                <div class="card__actions">
                    <a class="btn-card" href="/contactenos"><span>Ir a contáctanos</span><ion-icon name="chevron-forward-circle-outline"></ion-icon></a>
                </div>
            </div>
        </div>
        </div>
    </div>
</main>