.carousel-header {
    font-size: 8rem;
    font-weight: 700;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 6rem;

    @include respond(tab-land) {
        font-size: 6rem;
    }
}

.carousel-text {
    font-size: 2.5rem;
    font-weight: 200;
}

.primary-header {
    font-size: 8rem;
    font-weight: 700;
    letter-spacing: 3px;
    text-align: center;
}

.secondary-header {
    font-size: 2.5rem;
    color: $background-form-color1;
    font-weight: 800;
    margin-bottom: 2rem;
}

.footer__header {
    font-size: 2rem;
    font-weight: 700;
    color: $secondary-font-color;
    margin-bottom: 2rem;
}

.footer__text {
    font-size: 1.5rem;
    color: $primary-font-color;
}

.footer {
    a:link,
    a:visited {
        text-decoration: none;
        color: $secondary-font-color;
        transition: all .2s;

        &:hover {
            color: $background-form-color2;
            font-weight: 700;
        }
    }
}