.carousel-header {
    font-size: 8rem;
    font-weight: 700;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 6rem;
}

.carousel-text {
    font-size: 2.5rem;
    font-weight: 200;
}

.primary-header {
    font-size: 8rem;
    font-weight: 700;
    letter-spacing: 3px;
    text-align: center;
}