.background-form--color1 {
  stop-color: #1b3679; }

.background-form--color2 {
  stop-color: #f80040; }

.background-form--1 {
  width: 200px;
  height: 200px;
  position: fixed;
  top: 0;
  left: 0;
  transform: scale(1); }
  .background-form--1 linearGradient {
    transform: rotate(90deg); }

.background-form--2 {
  width: 200px;
  height: 200px;
  position: fixed;
  top: 200px;
  left: 300px;
  transform: scale(2); }

.background-form--3 {
  width: 200px;
  height: 200px;
  position: fixed;
  top: 400px;
  left: 600px;
  transform: scale(1); }
  .background-form--3 linearGradient {
    transform: rotate(90deg); }

.background-form--4 {
  width: 300px;
  height: 200px;
  position: fixed;
  top: 600px;
  left: 10px;
  transform: scale(1); }

.background-form--5 {
  width: 300px;
  height: 200px;
  position: fixed;
  top: 10px;
  left: 600px;
  transform: scale(1); }

.background-form--6 {
  width: 300px;
  height: 200px;
  position: fixed;
  top: 300px;
  left: 1300px;
  transform: scale(2.5); }

.background-form--7 {
  width: 300px;
  height: 200px;
  position: fixed;
  top: 500px;
  left: 1500px;
  transform: scale(2); }
