.contact-section {
    padding: 8rem 4rem;
    padding-bottom: 0;
}

.contact-card {
    width: 100%;
    max-width: 100rem;
    margin: 0 auto;
    margin-top: 2rem;
    padding: 4rem 6rem;
    border-radius: 5px;
    background-image: linear-gradient(115deg, $btn-background-color 0%, rgba(144, 168, 218, .8) 50%, transparent 50%), url('/img/contactanos.jpg');
    background-size: cover;
    background-position: center;

    @include respond(tab-port) {
        background-image: linear-gradient(115deg, $btn-background-color 0%, rgba(144, 168, 218, .8) 60%, transparent 60%), url('/img/contactanos.jpg');
    }

    @include respond(phone) {
        background-image: linear-gradient(115deg, $btn-background-color 0%, rgba(144, 168, 218, .8) 100%, transparent 100%), url('/img/contactanos.jpg');
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        color: $secondary-font-color;

        @include respond(phone) {
            align-items: center;
        }
    }

    &__header {
        font-size: 4.5rem;
        color: $secondary-font-color;
        font-weight: 600;
        margin: 7rem 0;
    }

    &__details {

        .contact-card__box:not(:last-child) {
            margin-bottom: 2rem;
        }
    }

    &__section-header {
        font-size: 2rem;
    }

    &__section-content {
        font-size: 1.6rem;
    }

    &__section-text {

        @include respond(phone) {
            color: $tertiary-font-color;
        }
    }
}