.support-chat {

    &__header {
        height: 8vh;
        background-color: $navbar-color;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        height: 90%;
    }

    &__title {
        font-size: 2rem;
    }

    &__logout {
        @include flexCenter;
        font-size: 1.6rem;
        background-color: $red-color;
        color: $font-color-carousel;
        border: 0;
        border-radius: 0.5rem;
        padding: 1rem;
        margin-right: 2rem;
        cursor: pointer;
        box-shadow: 0 0.5rem 1rem rgba($shadow-color, .2);
        transition: all 0.2s;

        z-index: 100;

        &:hover {
            transform: translateY(-0.2rem);
        }

        &:active {
            transform: translateY(-0.1rem);
        }

        &:focus {
            outline: none;
            transform: scale(1.05);
            box-shadow: 0 0.4rem 1rem rgba($shadow-color, .4);
        }

        &__icon {
            font-size: 2rem;
            margin-left: 1rem;
        }
    }

    &__body {
        display: flex;
        width: 100vw;
        height: 92vh;
    }   
}

.sidebar-support-chat {
    min-height: 100%;
    width: 20vw;
    background-color: $background-form-color1;
    color: $font-color-carousel;

    &__users {
        width: 100%;
        list-style: none;
    }

    &__user {
        padding: 1rem;
        text-align: center;
        border-bottom: 2px solid $shadow-color;
        cursor: pointer;
        position: relative;
        font-size: 1.6rem;
        background-image: linear-gradient(105deg, $blue-color, $background-form-color1);
    }
}

.support-chat-board {
    width: 100%;
    height: 92vh;
    display: grid;
    grid-template-rows: 10rem auto 5rem;

    &__title {
        height: 100%;
        padding: 3rem;
        text-align: center;
        color: $background-form-color1;
        background-color: $navbar-color;
        text-transform: uppercase;
    }

    &__messages {
        height: 100%;
        overflow-y: scroll;
        box-shadow: inset 0 0 2rem rgba($shadow-color, .2);
        background-color: $navbar-color;
        padding-top: 1rem;
    }

    &__message-box {
        display: flex;

        &--client {
            justify-content: flex-start;
        }

        &--support {
            justify-content: flex-end;
        }
    }

    &__message {
        padding: 2rem;
        border-radius: 5px;
        display: inline-block;
        margin-bottom: 1rem;
        color: $secondary-font-color;
        font-size: 1.5rem;

        &--client {
            margin-left: 3rem;
            background-color: rgba($green-light, .2);
        }

        &--support {
            margin-right: 3rem;
            background-color: rgba($background-form-color1, .2);
        }
    }
}

.notification {
    position: absolute;
    background-color: $chat-notification-color;
    left: 80%;
    width: 50%;
    top: 4px;
    padding: 0.7rem;
    border-radius: 0.5rem;
    z-index: 10;
    box-shadow: 0 1rem 2rem rgba($shadow-color, .4);
    transition: all 0.2s ease-out;

    &:hover {
        transform: scale(1.05) translateY(-0.3rem);
    }

    &:active {
        transform: scale(1);
    }
}

.support-chat-form {
    width: 100%;
    display: flex;

    &__input {
        width: 90%;
        padding: 1rem 2rem;
        border: 0;
        box-shadow: inset 0 0 1rem rgba($shadow-color, .2);
        border-bottom: 5px solid transparent;
        font-size: 1.6rem;
        color: inherit;

        &:focus {
            outline: none;
            border-bottom: 5px solid $green-primary;
        }
    }

    &__submit {
        @include flexCenter;
        border: 0;
        font-size: 1.6rem;
        width: 10%;
        background-image: linear-gradient(105deg, $green-light, $green-primary);
        color: $font-color-carousel;
        padding: 1rem;
        height: 100%;
        cursor: pointer;

        &:disabled {
            background-image: linear-gradient(105deg, $secondary-font-color, $primary-font-color);
            cursor: initial;
        }

        &:focus {
            outline: 2px solid $green-primary;
        }

        &__icon {
            font-size: 2rem;
            margin-left: 0.5rem;
        }
    }
}