.card {
    height: 50rem;
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;

    &__side {
        height: 50rem;
        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        background-color: $navbar-color;
        box-shadow: 0 1rem 2rem 1rem rgba($shadow-color, .2);
        border-radius: 2rem;

        &--front {
            background-color: $navbar-color;

            .card__header {
                height: 2rem;
                text-align: center;
                margin: 2rem 0;
                font-size: 2rem;
                font-weight: 600;
                color: $secondary-font-color;
            }
        
            .card__image {
                height: 40%;
                width: 100%;
                object-fit: cover;
                object-position: center;
                border-radius: 2rem 2rem 0 0;
            }
        
            .card__text {
                padding: 1rem;
                font-size: 1.5rem;
            }
        }

        &--back {
            transform: rotateY(180deg);
            background-image: linear-gradient(to right bottom, $background-form-color2, $background-form-color1);
            padding: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .card__header {
                height: 2rem;
                text-align: center;
                margin: 5rem 0;
                font-size: 2rem;
                font-weight: 600;
                color: $btn-background-color;
            }

            .card__text {
                margin: 2rem 0;
                padding: 1rem;
                font-size: 1.5rem;
                color: $btn-background-color;
            }
        
            .card__actions {
                
            }
        
        }
    }

    &:hover &__side--front {
        transform: rotateY(-180deg);

    }

    &:hover &__side--back {
        transform: rotateY(0);

    }

    @media only screen and (hover:none) {
        height: auto;
        border-radius: 2rem;
        box-shadow: 0 1rem 2rem 1rem rgba($shadow-color, .2);
        overflow: hidden;

        &__side {
            transition: none;
            position: relative;
            width: 100%;
            box-shadow: none;
            border-radius: 0;

            &--front {
                height: auto;
                padding-bottom: 5rem;
            
                .card__text {
                    padding: 4rem 1rem;
                }
            }

            &--back {
                clip-path: polygon(50% 18%, 65% 0, 90% 0, 100% 0, 100% 100%, 0 100%, 0 0, 35% 0);
                transform: rotateY(0);
                // background-image: linear-gradient(to right, $navbar-color, $navbar-color);
                height: auto;
                margin-top: -5rem;
                padding: 7rem 2rem 3rem 2rem;

                .card__header {
                    height: 2rem;
                    text-align: center;
                    margin: -1rem 0;
                    font-size: 1.7rem;
                    font-weight: 600;
                    // color: $secondary-font-color;
                }

                .card__text {
                    margin: 2rem 0;
                    padding: 1rem;
                    font-size: 1.5rem;
                    // color: $primary-font-color;
                }
            
                .card__actions {
                    
                }
            
            }
        }

        &:hover &__side--front {
            transform: rotateY(0);
        }

        &:hover &__side--back {
            transform: rotateY(0);
        }
    }
}