.header-navbar {
    width: 100%;
    height: 8rem;
    background-color: $navbar-color;
    padding: 0 5rem;
    z-index: 10;

    position: fixed;

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0 1rem 2rem rgba($shadow-color, .2);

    &__logo {
        font-size: 3rem;
        font-weight: 400;
        letter-spacing: 3px;

        display: inline-block;
        background-image: linear-gradient(to top right, $background-form-color1, $background-form-color2);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }

    &__links {
        list-style-type: none;
        display: flex;
        margin: 0;
        height: 100%;

        &__link {
            position: relative;

            &.active {
                border-bottom: 3px solid $background-form-color1;
                color: $background-form-color1;
            }
        }
        &__link a,
        &__link a:link,
        &__link a:visited {
            display: inline-block;
            width: 100%;
            height: 100%;
            text-decoration: none;
            color: inherit;
            //font-weight: 300;
            font-size: 3rem;
            padding: 2rem 4rem;
        }
    }
} 