.header-navbar {
    width: 100%;
    height: 8rem;
    background-color: $navbar-color;
    padding: 0 5rem;
    z-index: 10;

    position: fixed;

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0 1rem 2rem rgba($shadow-color, .2);

    &__toggle {
        display: none;
    }

    &__logo-link {
        display: inline-block;
        height: 100%;
    }

    &__logo {
        height: 100%;
    }

    &__brand {
        font-size: 3rem;
        font-weight: 400;
        letter-spacing: 3px;

        display: inline-block;
        background-image: linear-gradient(to top right, $background-form-color1, $background-form-color2);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }

    &__links {
        list-style-type: none;
        display: flex;
        margin: 0;
        height: 100%;

        &__link a,
        &__link a:link,
        &__link a:visited {
            display: inline-block;
            width: 100%;
            height: 100%;
            text-decoration: none;
            color: inherit;
            //font-weight: 300;
            font-size: 3rem;
            padding: 2rem 4rem;

            &:hover {
                color: $background-form-color2;
            }
        }

        &__link {
            position: relative;
            border-bottom: 3px solid transparent;

            &.active {
                border-bottom: 3px solid $background-form-color1;
                color: $background-form-color1;

                a:hover {
                    color: $background-form-color1;
                }
            }
        }
    }




    @include respond(phone) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;

        &__toggle {
            display: inline-block;
            font-size: 7rem;
            line-height: 1;
            cursor: pointer;
        }

        &__logo {
            height: 100%;
        }

        &__brand {
            font-size: 3rem;
            font-weight: 400;
            letter-spacing: 3px;

            display: inline-block;
            background-image: linear-gradient(to top right, $background-form-color1, $background-form-color2);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
        }

        // Menu open
        &__links.open {
            position: absolute;
            top: 8rem;
            right: 0;
            list-style-type: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0;
            height: auto;
            width: 33vw;
            border-radius: 0 0 3px 3px;

            box-shadow: -1rem 2rem 2rem rgba($shadow-color, .2);

            background-color: $navbar-color;

            .header-navbar__links__link a,
            .header-navbar__links__link a:link,
            .header-navbar__links__link a:visited {
                border-bottom: 1px solid $background-form-color1;
            }

            .header-navbar__links__link {
                position: relative;
                width: 100%;
                text-align: center;
            }     
        }
        // Menu close
        &__links {
            display: none;
        }
    }
} 