$background-form-color1: #103179; //rgb(27, 54, 121)
$background-form-color2: #AB0A0A; //rgb(248, 0, 64)

$primary-font-color: #979797;

$secondary-font-color: #646464;

// Font for dark backgrounds
$tertiary-font-color: #2b2b2b;

$navbar-color: #f7f7f7;
$shadow-color: #000;

$font-color-carousel: #fff;

$btn-background-color: #f7f7f7;

$background-color: #fff;

$green-light: rgb(77, 233, 38);
$green-primary: rgb(73, 167, 49);

$chat-notification-color: #d12a2a;
$red-color: #d12a2a;